<!DOCTYPE html>
<html>
<head>
        <title>project scorecard | admin home page</title>
         <meta name="description" content="score-board">
         <meta name="author" content="photon-employee">
         <meta name="keyword" content="html,css,bootstrap,project">
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <link rel="stylesheet" href="CSS/bootstrap.min.css">
         <link rel="stylesheet" href="CSS/font-awesome.min.css">
         <link rel="stylesheet" href="CSS/styles.css">
         <link rel="stylesheet" href="CSS/login.css">
         <link rel="stylesheet" href="CSS/admin-all-project.css">
         <link rel="stylesheet" href="CSS/consolitated.css">
         <link rel="stylesheet" href="CSS/add-new-project.css">
         <link rel="stylesheet" href="CSS/admin_reviewer_second_page.css">
         <link rel="stylesheet" href="CSS/admin-first-page.css"> 
         <link rel="stylesheet" href="CSS/reviewer_home_page.css"> 
         <script src="VENDOR_JS/jquery.min.js"></script>
         <script src="VENDOR_JS/bootstrap.min.js"></script>     
         <script src="VENDOR_JS/angular.min.js"></script>
         <script src="VENDOR_JS/angular-route.js"></script> 
         <script src="VENDOR_JS/jquery.table2excel.min.js"></script>
         <script src="VENDOR_JS/question_xml.js"></script>
         <script src="VENDOR_JS/canvasjs.min.js"></script>
         <script src="VENDOR_JS/fusioncharts.js"></script>
         <script src="VENDOR_JS/fusioncharts.charts.js"></script> 
         <script src="JS/app.js"></script>   
         <script src="JS/route.js"></script> 
         <script src="JS/index.js"></script>          
         <script src="JS/login_scripts.js"></script>  
         <script src="JS/admin_all_project_display.js"></script> 
         <script src="JS/navigation.js"></script>
         <script src="JS/consolitated.js"></script> 
         <script src="JS/score_graph.js"></script> 
         <script src="JS/addproject.js"></script> 
         <script src="JS/question.js"></script> 
         <script src="JS/reviewer_info.js"></script> 
         <script src="JS/admin-list-best-worst-project.js"></script>
</head>
<body ng-app="myapp" ng-controller="index">




    <!-- header content-->



    <header class="col-lg-12 col-sm-12 col-xs-12" ng-hide="showHeader">
          <section class="row photon-header">
                <section class="col-lg-3 col-sm-3  col-xs-4">
                          <h1><a href="http://www.photon.in"  title="photon-logo"><img class="navbar-brand" src="IMAGES/logo.png" alt="photon View"></a></h1>
                </section>   
                <section class="col-lg-3 col-sm-5  col-xs-8 username">
                          <i class="fa fa-user-circle fa-3x hidden-xs" aria-hidden="true"></i>&nbsp;&nbsp;
                          <span class="header-name hidden-xs">Parthasarathy</span>&nbsp;&nbsp;
                          <button type="button" data-toggle="dropdown" class="fa fa-cog fa-2x header-button">
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu col-lg-11 col-sm-11 col-xs-12 ">
                            <div class= "col-lg-7 col-sm-7 col-xs-6 dropdown-content">
                             <li class="hidden-lg hidden-sm">Name</li>
                             <li>Employee ID </li>
                             <li>Designation </li>
                             </div>
                             <div class = "col-lg-5 col-sm-5 col-xs-6 dropdown-content">
                             <li class="hidden-lg hidden-sm">:Parthasarathy</li>
                             <li>:116604</li>
                             <li ng-hide="employee_designation">:Reviewer</li>
                             <li ng-show="employee_designation">:Admin</li>
                             </div>
                             <div class= "col-lg-7 col-sm-7 col-xs-7 dropdown-content">
                            <button  ng-click="change_password()" class="header-button">Change Password</button>
                             </div>
                             <div class = "col-lg-5 col-sm-5 col-xs-5 dropdown-content">
                            <button ng-click="logout_disable()" class="header-button">Log out</button>
                             </div>
                          </ul>
                          
                </section>

                </section>
    </header>
    


<section>
<a href="#!/"></a>
</section>




<div ng-view>                                     



</div>




        <!-- footer content-->





         <footer> 
             <section class="footer-content col-lg-4 col-sm-6 col-xs-12"> &copy; 2017 North American Photon Infotech Limited. |</section>
                 <section class="website-name col-lg-1 col-lg-offset-5 col-sm-2  col-xs-6">
                 <a title="photon-website" class="footer_website-color" href="http://www.photon.in">www.photon.in</a></section>
                 <section class="col-lg-1 col-lg-offset-1 col-sm-2 col-xs-4 col-xs-offset-2">
                 <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-1x social"></i></a>
              <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square  fa-1x social"></i></a>
              <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-1x fsocial"></i></a>
              <a href="https://www.gmail.com"><i id="social-em" class="fa fa-envelope-square fa-1x social"></i></a>
              </section>
          


        </footer> 
</body>

</html>