*{
	lost-utility:edit;
}

.content1,.content2{
	lost-column:1/4 3;
	height:45px;
	margin-bottom: 5px;
	color: red;
	background-color: blue;
}
.content3{
	lost-column:1/2 3;
	margin-bottom: 5px;
	height:45px;
	color: red;
	background-color: blue;
}
@media (min-width: 900px) {
    .content div {
        lost-column: 1/6;
    }
}
@media screen and  (max-width: 480px) {
    .content div {
        lost-column: 1/1;
	}	
}

.lower1,.lower2,.upper1,.upper2{
	lost-column:1/2 ;
	margin-bottom: 5px;
	margin-top: 5px;
	height:35px;
	background-color: yellow;
	
}
